RewriteEngine On

RedirectPermanent /AntoineAbt.pdf /experience
RedirectPermanent /experience /index.html#work
RedirectPermanent /contact /index.html#contact

AddOutputFilterByType DEFLATE text/html text/plain application/javascript
