/* Delicious: a font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: Delicious;
  src: url('fonts/Delicious-Roman.otf');
}

@font-face {
  font-family: Delicious;
  src: url('fonts/Delicious-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: Junction;
  src: url('fonts/Junction.otf');
}
@font-face {
  font-family: League;
  src: url('fonts/League-Gothic.otf');
}

@font-face {
    font-family: Fertigo;
    src: url(fonts/Fertigo_PRO.otf) format("opentype");
}

