html, body {
    margin  : 0;
    padding : 0;
}
body {
    background  : white;
    color       : #333;
    font-family : Averia, "Lucida Grande", Arial;
    font-size   : 16px;
}

a {
    color           : #666;
    text-decoration : none;
    border          : 1px dotted rgba(0,0,0,0.3);
    border-width    : 0 0 1px 0;
}
a:hover {
    color: #000;
    border-color: #da206b;
    border-style: solid;
}
a img {
    border : 0;
}


header {
    margin  : 0;
    padding : 0;
}
h1 {
    color          : rgba(0,0,0,0.6);
    font-size      : 2em;
    font-weight    : normal;
    letter-spacing : -2px;
    line-height    : 1em;
    padding        : 0.7em;
    margin         : 0;
}
h2 {
    margin-top: 1.5em;
}
h2:after {
    content : ' ∞';
    color   : rgba(0,0,0,0.1);
}

section, footer {
    margin            : 0;
    padding           : 0 1.5em;
}

section ul {
    list-style : none;
    margin     : 0.5em 0;
    padding    : 0;
}
section li:before {
    content   : 'o ';
    margin    : -0.4em 0 0 -1em;
    font-size : 80%;
    color     : rgba(0,0,0,0.1);
}
section li {
    margin: 0;
    padding: 0.2em 0 0.2em 0em;
}
.vcard {
    display        : inline-block;
    vertical-align : top;
    margin-top     : 10px;
}
#small {
    background      : rgba(0,0,0,0.1);
    border-radius   : 3px;
    color           : #da206b;
    display         : inline-block;
    max-width       : 360px;
    width           : 100%;
    margin          : 10px 20px 0 0;
    padding         : 0;
    text-align      : center;
    text-decoration : none;
    border          : 2px dotted rgba(0,0,0,0.2);
}
#small span {
    background    : transparent url(t1.png) center center no-repeat;
    display       : block;
    height        : 200px;
    line-height   : 200px;
    width         : 100%;
    font-size     : 2em;
    border-radius : 6px;
}
#map {
    background : #fff;
    display    : none;
    height     : 100%;
    left       : 0;
    position   : absolute;
    text-align : center;
    top        : 0;
    width      : 100%;
    z-index    : 10;
}
#map .btn {
    position           : absolute;
    top                : 10px;
    left               : 50%;
    width              : 100px;
    margin-left        : -50px;
    z-index            : 1005;
    background         : rgba(0,0,0,0.5);
    color              : #ccc;
    text-shadow        : 0 0 1px #000;
    border-radius      : 6px;
    -moz-transition    : background .3s ease;
    -o-transition      : background .3s ease;
    -webkit-transition : background .3s ease;
    transition         : background .3s ease;
}
#map .btn:hover {
    background      : rgba(155,0,0,0.8);
    text-decoration : none;
}

@font-face {
    font-family : "Averia";
    font-weight : normal;
    src         : url(fonts/Averia-Regular.ttf) format("truetype");
}
@font-face {
    font-family : "Averia";
    font-weight : bold;
    src         : url(fonts/Averia-Bold.ttf) format("truetype");
}

@media (max-width: 768px) {
    body {
    }
}
@media (min-width: 768px){
    h1 {
        padding: 0.7em 0;
    }
    header, section, footer {
        width  : 650px;
        margin : 0 auto;
    }
    #logo {
        margin : 40px auto 0;
        display: block;
    }
    footer br{
        float: left;
    }
}
